<div class="">
	<mat-toolbar color="primary" class="flex items-center justify-between">
		<div class="flex items-center gap-5">
			<button mat-icon-button class="md:hidden visibility" aria-label="Example icon-button with menu icon">
				<mat-icon>menu</mat-icon>
			</button>
			<span>My App</span>
		</div>
		<div class="flex items-center gap-5">
			<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
				<mat-icon>favorite</mat-icon>
			</button>
			<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
				<mat-icon>share</mat-icon>
			</button>
		</div>
	</mat-toolbar>
</div>