<mat-card class="example-card w-full">
	<mat-card-header>
		<img mat-card-avatar [src]="recipe.images[0]" class="w-[60px] h-[60px] rounded-full object-contain" alt="">
		<mat-card-title>{{recipe.title}}</mat-card-title>
		<mat-card-subtitle>{{recipe.category}}</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image class="max-h-[300px] object-cover" [src]="recipe.images[1]" alt="Photo of a Shiba Inu">
	<mat-card-content>
		<p>
			{{recipe.description}}
		</p>
	</mat-card-content>
	<mat-card-actions class="flex justify-between w-full">
		<div>
			<button mat-icon-button aria-label="Example icon button with a filter list icon">
				<mat-icon>favorite</mat-icon>
			</button>
			<button (click)="editModalHandler()" mat-icon-button
				aria-label="Example icon button with a filter list icon">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button aria-label="Example icon button with a filter list icon">
				<mat-icon>share</mat-icon>
			</button>

		</div>
		<div class="">
			<button (click)="deleteRecipe()" mat-icon-button aria-label="Example icon button with a filter list icon">
				<mat-icon>delete</mat-icon>
			</button>
		</div>

	</mat-card-actions>
</mat-card>